@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&family=Roboto:wght@300;400;500;700&display=swap');

body{
  font-family: 'Nunito Sans', sans-serif;
}

h5{
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  font-style: normal;
  margin-top: 10px;
}

.nav-icon{
  color: #fff;
  font-size: 18px;
  margin-bottom: 3px;
}

.lines{
  border-top: 1px dashed #2C3639;
}

.container-fluid{
  margin: 0;
}

.butn{
  color: #fff;
  background-color: #01959F;
  border-color: #01959F;
  border: 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  font-style: normal;
  margin: 4px 2px;
  padding: 4px 15px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}

.card{
  border: 1px solid #01959F;
  background-color: #F7FEFF;
  border-radius: 4px;
  margin: 10px 4px;
  width: fit-content;
}
.card1{
  border: 1px solid #FEEABC;
  background-color: #FFFCF5;
  border-radius: 4px;
  margin: 10px 4px;
  width: fit-content;
}
.card2{
  border: 1px solid #F5B1B7;
  background-color: #FFFAFA;
  border-radius: 4px;
  margin: 10px 4px;
  width: fit-content;
}
.card3{
  border: 1px solid #B8DBCA;
  background-color: #F8FBF9;
  border-radius: 4px;
  margin: 10px 4px;
  width: fit-content;
}

.card-titles{
  color: #01959F;
  border: 1px solid #4DB5BC;
  background: #F7FEFF;
  border-radius: 5px;
  font-size: 12px;
  margin: 12px 15px;
  padding: 2px 15px;
  width: 105px;
  height: 25px;
}

.card-titles1{
  color: #FA9810;
  border: 1px solid #FEEABC;
  border-radius: 5px;
  font-size: 12px;
  margin: 12px 15px;
  padding: 2px 15px;
  width: 105px;
  height: 25px;
}

.card-titles2{
  color: #E11428;
  border: 1px solid #F5B1B7;
  border-radius: 5px;
  font-size: 12px;
  margin: 12px 15px;
  padding: 2px 15px;
  width: 105px;
  height: 25px;
}

.card-titles3{
  color: #43936C;
  border: 1px solid #B8DBCA;
  border-radius: 5px;
  font-size: 12px;
  margin: 12px 15px;
  padding: 2px 15px;
  width: 105px;
  height: 25px;
  
}

.subtitle{
  height: 25px ;
  font-size: 12px;
  padding: 0 10px;
  font-weight: bold;
  color: #2C3639;
}

.cardbody{
  border: 1px solid #E0E0E0;
  background-color: #FAFAFA;
  margin: 15px 15px;
  padding: 2px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  width: 400px;
}

.icon{
  border: hidden;
  background-color: transparent;
  width: 30px;
  font-size: 20px;
  height: 30px;
  margin-left: 0;
  margin-bottom: 15px;
  color: #757575;
  border-radius: 4px;
}

.icon:hover{
  background: #EDEDED;
}

.icon1{
  border: hidden;
  background-color: transparent;
  width: 30px;
  font-size: 30px;
  height: 15px;
  color: #43936C;
}

.persen{
  border: hidden;
  background-color: transparent;
  width: 50px;
  font-size: 13px;
  height: 20px;
  color: #2C3639;
  margin-top: 6px;
  margin-left: 10px;
}

.icons{
  color: #333333;
  border: hidden;
  background-color: transparent;
  width: 100px;
  font-size: 14px;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 15px;
}

.iconss{
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
}

.iconcentang{
  border: hidden;
  background-color: transparent;
  width: 30px;
  font-size: 20px;
  height: 30px;
  margin-left: 16px;
  margin-bottom: 15px;
  color: #757575;
  border-radius: 4px;
}

.iconcentang:hover{
  background: #EDEDED;
}

span{
  color: #1D1F20;
  font-size: 12px;
}

.bg-warna-bar{
  background-color: #43936C!important;
  width: 100%;
}
.bg-warna-bar1{
  background-color: #01959F!important;
  width: 100%;
}

.progress{
  background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 15px;
	width: 70%;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .cardbody{
    border: 1px solid rgb(224, 222, 222);
    background-color: rgb(248, 247, 247);
    margin: 12px 5px;
    padding: 2px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    width: 380px; 
  }
  .navline{
    width: 420px;
  }
  .icon{
    border: hidden;
    background-color: transparent;
    width: 30px;
    font-size: 20px;
    height: 30px;
    margin-left: 15px;
    color: #757575;
    border-radius: 4px;
  }
  .iconcentang{
    border: hidden;
    background-color: transparent;
    width: 30px;
    font-size: 20px;
    height: 30px;
    margin-left: 33px;
    color: #757575;
  }
  .persen{
    border: hidden;
    background-color: transparent;
    width: 50px;
    font-size: 12px;
    height: 20px;
    color: #2C3639;
    margin-top: 6px;
    margin-left: 10px;
  }
  .bg-warna-bar1{
    background-color: #01959F!important;
    width: 100%;
  }
  
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .cardbody{
    border: 1px solid rgb(224, 222, 222);
    background-color: rgb(248, 247, 247);
    margin: 12px 4px;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    width: 175px; 
  }
  .card{
    border: 1px solid #01959F;
    background-color: #f3faf7;
    border-radius: 4px;
    margin: 10px 4px;
    width: fit-content;
    column-gap: 20px;
  }
  .icon{
    border: hidden;
    background-color: transparent;
    width: 30px;
    font-size: 20px;
    height: 30px;
    margin-left: 5px;
    color: #757575;
  }
  .persen{
    border: hidden;
    background-color: transparent;
    width: 50px;
    font-size: 12px;
    height: 20px;
    color: #2C3639;
    margin-top: 6px;
    margin-left: 10px;
  }
  
  .progress{
    background-color: #d8d8d8;
    border-radius: 20px;
    position: relative;
    margin: 15px 0;
    height: 15px;
    width: 70%;
  }
  .iconcentang{
    border: hidden;
    background-color: transparent;
    width: 30px;
    font-size: 20px;
    height: 30px;
    margin-left: 5px;
    color: #757575;
  }
}

@media only screen  and (min-width : 1224px) {
  .cardbody{
    border: 1px solid rgb(224, 222, 222);
    background-color: rgb(248, 247, 247);
    margin: 12px 4px;
    padding: 4px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    width: 320px; 
  }
}